* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: darkgray;
}

body .phone {
  width: 414px;
  height: 895px;
}

body .phone header {
  width: 100%;
  height: 50px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

body .phone header p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}

.main {
  width: 100%;
  height: calc(895px - 70px);
}

.main .top {
  width: 100%;
  height: calc(895px - 592px);
  background: white;
}

.main .top .person {
  width: 100%;
  height: 100px;
  padding: 0px 80px 40px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.main .top .person p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A1A1A;
}

.main .top .person p span {
  font-size: 14px;
  line-height: 21px;
  color: #DF3222;
}

.main .top .inform {
  width: 100%;
  height: calc(303px - 100px);
  padding: 10px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .top .inform .balance {
  width: 152px;
  height: 180px;
  background: #FDEDEB;
  border-radius: 25px;
  padding: 35px 32px 30px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.main .top .inform .master_card {
  width: 152px;
  height: 180px;
  background: #EF4637;
  border-radius: 25px;
  padding: 27px 15px 72px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.main .top .inform .master_card .p1 {
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

.main .top .inform .master_card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.wallet_balance {
  width: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.wallet_balance p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #1A1A1A;
}

.wallet_balance b {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #EF4637;
}

.service {
  width: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  margin-left: 9px;
}

.service p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #1A1A1A;
}

.service b {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #EF4637;
  margin-left: 23px;
}

.bottom {
  width: 100%;
  height: 522px;
  background: linear-gradient(90.29deg, #FFFFFF 0.23%, #FFFFFF 49.98%, #FDECEB 49.99%, #FDECEB 99.73%);
  padding: 5px 18px 40px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.bottom .bottom1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
}

.bottom p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}

.bottom .houses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.bottom2 .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom2 .services p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
}

.bottom2 .services .red {
  color: #EF4637;
}

.bottom2 .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  gap: 24px;
}

.bottom2 .last .elictrical {
  width: 356px;
  height: 93px;
  background: white;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  border-radius: 30px;
  padding: 20px 110px 32px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.bottom2 .last .elictrical b {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.bottom2 .last .others {
  width: 356px;
  height: 93px;
  background: white;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  border-radius: 30px;
  padding: 27px 134px 28px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.bottom2 .last .others b {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
/*# sourceMappingURL=style.css.map */